<div class="items-center overlay">
  <mat-card class="card-overlay">
    <mat-card-title>Spis gołębi</mat-card-title>
    <div style="width: 1350px" class="above-grid">
      <button mat-flat-button (click)="openAddPigeonDialog()">Dodaj gołębia</button>
      <mat-form-field>
        <input matInput placeholder="Wyszukaj gołębia..." (input)="onGridQuickFilterChanged($event)">
      </mat-form-field>
    </div>
    <ag-grid-angular
      style="width: 1350px; height: 650px;"
      class="ag-theme-alpine"
      [rowData]="pigeons"
      [columnDefs]="columnDefs"
      [quickFilterText]="gridQuickFilter"
    >
    </ag-grid-angular>
  </mat-card>
</div>
