<mat-card>
  <mat-card-title>Wybierz lot</mat-card-title>
  <mat-card-content>
    <form #form="ngForm" (ngSubmit)="submitForm()">
      <mat-form-field appearance="fill">
        <mat-label>Lot</mat-label>
        <mat-select id="flight" [(ngModel)]="selectedFlight" name ="flight" required>
          <mat-option *ngFor="let flight of flights" [value]="flight">
            {{ flight.city }} - {{ flight.date }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="form-button-container">
        <button mat-flat-button [disabled]="!form.valid" type="submit">Wyświetl wyniki</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>

<div *ngIf="showRecordsGrid">

</div>
