<div class="items-center overlay">
  <mat-card class="card-overlay">
    <mat-card-title>Spis lotów</mat-card-title>
    <div style="width: 1165px" class="above-grid">
      <button mat-flat-button (click)="openAddFlightDialog()">Dodaj lot</button>
      <mat-form-field>
        <input matInput type="text" placeholder="Wyszukaj lotu..." (input)="onGridQuickFilterChanged($event)">
      </mat-form-field>
    </div>
    <ag-grid-angular
      style="width: 1165px; height: 700px;"
      class="ag-theme-alpine"
      [rowData]="flights"
      [columnDefs]="columnDefs"
      [quickFilterText]="gridQuickFilter"
    >
    </ag-grid-angular>
  </mat-card>
</div>
