<div *ngIf="loggedIn">
  <div class="nav-bar">
    <button class="nav-button" (click)="navigate('pigeon')">Gołębie</button>
    <button class="nav-button" (click)="navigate('pigeon-results')">Wyniki gołębi</button>
    <button class="nav-button" (click)="navigate('flights')">Loty</button>
    <button class="nav-button" (click)="navigate('flight-records')">Wyniki lotów</button>
    <button class="nav-button" (click)="logout()">Wyloguj się</button>
  </div>
</div>

<router-outlet></router-outlet>

<div *ngIf="loggedIn" class="footer">
  <p>Moja Hodowla &copy; {{ currentYear }} </p>
</div>
