<div *ngIf="loggedIn; else loginTemplate">
  <div class="nav-bar">
    <button class="nav-button" (click)="navigate('pigeon')">Gołębie</button>
    <button class="nav-button" (click)="navigate('flights')">Loty</button>
    <button class="nav-button" (click)="navigate('flight-records')">Wyniki lotów</button>
    <button class="nav-button" (click)="logout()">Wyloguj się</button>
  </div>
</div>

<ng-template #loginTemplate>
  <div class="nav-bar">
    <button class="nav-button" (click)="navigate('login')">Logowanie</button>
    <button class="nav-button" (click)="navigate('register')">Rejestracja</button>
  </div>
</ng-template>

<router-outlet></router-outlet>
