.tree-title{

}

.pigeon-selector {
  margin-bottom: 20px;
}

.details-card,
.ancestor-card {
  padding: 16px;
  text-align: center;
}

.pigeon-info {
  list-style-type: none;
  padding: 0;
}

.pigeon-info li {
  margin: 8px 0;
}

.pedigree-grid {
  margin-top: 20px;
}

.grid-item mat-card {
  min-height: 120px;
  min-width: 190px;
}

.pigeon-section {
  display: flex;
  gap: 20px;
}

.user-details,
.pigeon-selector,
.pigeon-details {
  flex: 1;
}

.pigeon-selector {
  max-width: 33.33%;
}

.pigeon-details {
  max-width: 66.67%;
}

.details-card,
.selector {
  width: 100%;
}

.tree-card {
  padding: 16px;
  margin-top: 20px;
}

.pigeon-info-table, .user-info-table {
  width: 100%;
  border-collapse: collapse;
}

.pigeon-info-table th,
.pigeon-info-table td,
.user-info-table th,
.user-info-table td{
  border-bottom: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}


.header {
  display: flex; /* Use flexbox for layout */
  justify-content: space-between; /* Space between title and button */
  align-items: center; /* Center align items vertically */
  width: 100%; /* Full width of the card */
}

.title {
  padding-left: 150px;
  flex: 1; /* Allow title to take available space */
  text-align: center; /* Center the title text */
}

.btn-right {
  margin-left: auto; /* Push button to the right */
}


