<div class="overlay" id="pdf-content">
  <section class="pigeon-section">
    <div *ngIf="!isPdfBuilt" class="pigeon-selector">
      <mat-card>
        <mat-card-title>Wybierz gołębia</mat-card-title>
        <mat-card-content>
          <form #form="ngForm" (ngSubmit)="submitForm()">
            <mat-form-field appearance="fill">
              <mat-label>Numer obrączki</mat-label>
              <mat-select id="pigeon" [(ngModel)]="selectedPigeon" (selectionChange)="isTreeBuilt = false" name="pigeon"
                          required>
                <mat-option *ngFor="let pigeon of pigeons" [value]="pigeon">
                  {{ pigeon.ring }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div class="form-button-container">
              <button mat-flat-button color="primary" [disabled]="!form.valid" type="submit">Wyświetl rodowód</button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
    <div *ngIf="isPdfBuilt" class="user-info">
      <mat-card>
        <mat-card-title>Dane hodowcy</mat-card-title>
        <mat-card-content>
          <table class="user-info-table">
            <tbody>
            <tr>
              <td><strong>Imię:</strong></td>
              <td>{{ user.name }}</td>
            </tr>
            <tr>
              <td><strong>Nazwisko:</strong></td>
              <td>{{ user.surname }}</td>
            </tr>
            <tr>
              <td><strong>Email:</strong></td>
              <td>{{ user.email }}</td>
            </tr>
            </tbody>
          </table>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="pigeon-details">
      <mat-card *ngIf="selectedPigeon" class="details-card">
        <mat-card-title>Szczegóły Gołębia</mat-card-title>
        <mat-card-content>
          <table class="pigeon-info-table">
            <tbody>
            <tr>
              <td><strong>Numer obrączki:</strong></td>
              <td>{{ selectedPigeon.ring }}</td>
            </tr>
            <tr>
              <td><strong>Kolor:</strong></td>
              <td>{{ selectedPigeon.color }}</td>
            </tr>
            <tr>
              <td><strong>Płeć:</strong></td>
              <td>{{ selectedPigeon.gender }}</td>
            </tr>
            <tr *ngIf="selectedPigeon.fatherRing">
              <td><strong>Ojciec:</strong></td>
              <td>{{ selectedPigeon.fatherRing }}</td>
            </tr>
            <tr *ngIf="selectedPigeon.motherRing">
              <td><strong>Matka:</strong></td>
              <td>{{ selectedPigeon.motherRing }}</td>
            </tr>
            <tr *ngIf="selectedPigeon.description">
              <td><strong>Opis:</strong></td>
              <td>{{ selectedPigeon.description }}</td>
            </tr>
            </tbody>
          </table>
        </mat-card-content>
      </mat-card>
    </div>
  </section>


  <section *ngIf="isTreeBuilt">
    <mat-card class="tree-card">
      <div class="header" *ngIf="!isPdfBuilt" >
        <mat-card-title class="title">
          Drzewo genealogiczne dla gołębia {{ selectedPigeon.ring }}
        </mat-card-title>
        <button mat-flat-button color="primary" class="btn-right" (click)="generatePDF()">Zapisz do PDF</button>
      </div>
      <mat-grid-list cols="8" rowHeight="150px" class="pedigree-grid">
        <mat-grid-tile colspan="8" class="grid-item">
          <mat-card>
            <mat-card-title>{{ tree?.pigeon?.ring }}</mat-card-title>
            <mat-card-content>
              <p><strong>Kolor:</strong> {{ tree?.pigeon?.color }}</p>
              <p><strong>Płeć:</strong> {{ tree?.pigeon?.gender }}</p>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>

        <mat-grid-tile colspan="4" class="grid-item">
          <mat-card>
            <mat-card-title>{{ tree.father?.pigeon?.ring }}</mat-card-title>
            <mat-card-content>
              <div *ngIf="tree?.father">
                <p><strong>Kolor:</strong> {{ tree.father?.pigeon?.color }}</p>
                <p><strong>Płeć:</strong> {{ tree.father?.pigeon?.gender }}</p>
              </div>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile colspan="4" class="grid-item">
          <mat-card>
            <mat-card-title>{{ tree.mother?.pigeon?.ring }}</mat-card-title>
            <mat-card-content>
              <div *ngIf="tree?.mother">
                <p><strong>Kolor:</strong> {{ tree.mother?.pigeon?.color }}</p>
                <p><strong>Płeć:</strong> {{ tree.mother?.pigeon?.gender }}</p>
              </div>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>

        <mat-grid-tile colspan="2" class="grid-item">
          <mat-card>
            <mat-card-title>{{ tree.father?.father?.pigeon?.ring }}</mat-card-title>
            <mat-card-content>
              <div *ngIf="tree?.father?.father">
                <p><strong>Kolor:</strong> {{ tree.father?.father?.pigeon?.color }}</p>
                <p><strong>Płeć:</strong> {{ tree.father?.father?.pigeon?.gender }}</p>
              </div>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile colspan="2" class="grid-item">
          <mat-card>
            <mat-card-title>{{ tree.father?.mother?.pigeon?.ring }}</mat-card-title>
            <mat-card-content>
              <div *ngIf="tree?.father?.mother">
                <p><strong>Kolor:</strong> {{ tree.father?.mother?.pigeon?.color }}</p>
                <p><strong>Płeć:</strong> {{ tree.father?.mother?.pigeon?.gender }}</p>
              </div>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile colspan="2" class="grid-item">
          <mat-card>
            <mat-card-title>{{ tree.mother?.father?.pigeon?.ring }}</mat-card-title>
            <mat-card-content>
              <div *ngIf="tree?.mother?.father">
                <p><strong>Kolor:</strong> {{ tree.mother?.father?.pigeon?.color }}</p>
                <p><strong>Płeć:</strong> {{ tree.mother?.father?.pigeon?.gender }}</p>
              </div>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile colspan="2" class="grid-item">
          <mat-card>
            <mat-card-title>{{ tree.mother?.mother?.pigeon?.ring }}</mat-card-title>
            <mat-card-content>
              <div *ngIf="tree?.mother?.mother">
                <p><strong>Kolor:</strong> {{ tree.mother?.mother?.pigeon?.color }}</p>
                <p><strong>Płeć:</strong> {{ tree.mother?.mother?.pigeon?.gender }}</p>
              </div>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>

        <mat-grid-tile colspan="1" class="grid-item">
          <mat-card>
            <mat-card-title>{{ tree.father?.father?.father?.pigeon?.ring }}</mat-card-title>
            <mat-card-content>
              <div *ngIf="tree?.father?.father?.father">
                <p><strong>Kolor:</strong> {{ tree.father?.father?.father?.pigeon?.color }}</p>
                <p><strong>Płeć:</strong> {{ tree.father?.father?.father?.pigeon?.gender }}</p>
              </div>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" class="grid-item">
          <mat-card>
            <mat-card-title>{{ tree.father?.father?.mother?.pigeon?.ring }}</mat-card-title>
            <mat-card-content>
              <div *ngIf="tree?.father?.father?.mother">
                <p><strong>Kolor:</strong> {{ tree.father?.father?.mother?.pigeon?.color }}</p>
                <p><strong>Płeć:</strong> {{ tree.father?.father?.mother?.pigeon?.gender }}</p>
              </div>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" class="grid-item">
          <mat-card>
            <mat-card-title>{{ tree.father?.mother?.father?.pigeon?.ring }}</mat-card-title>
            <mat-card-content>
              <div *ngIf="tree?.father?.mother?.father">
                <p><strong>Kolor:</strong> {{ tree.father?.mother?.father?.pigeon?.color }}</p>
                <p><strong>Płeć:</strong> {{ tree.father?.mother?.father?.pigeon?.gender }}</p>
              </div>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" class="grid-item">
          <mat-card>
            <mat-card-title>{{ tree.father?.mother?.mother?.pigeon?.ring }}</mat-card-title>
            <mat-card-content>
              <div *ngIf="tree?.father?.mother?.mother">
                <p><strong>Kolor:</strong> {{ tree.father?.mother?.mother?.pigeon?.color }}</p>
                <p><strong>Płeć:</strong> {{ tree.father?.mother?.mother?.pigeon?.gender }}</p>
              </div>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" class="grid-item">
          <mat-card>
            <mat-card-title>{{ tree.mother?.father?.father?.pigeon?.ring }}</mat-card-title>
            <mat-card-content>
              <div *ngIf="tree?.mother?.father?.father">
                <p><strong>Kolor:</strong> {{ tree.mother?.father?.father?.pigeon?.color }}</p>
                <p><strong>Płeć:</strong> {{ tree.mother?.father?.father?.pigeon?.gender }}</p>
              </div>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" class="grid-item">
          <mat-card>
            <mat-card-title>{{ tree.mother?.father?.mother?.pigeon?.ring }}</mat-card-title>
            <mat-card-content>
              <div *ngIf="tree?.mother?.father?.mother">
                <p><strong>Kolor:</strong> {{ tree.mother?.father?.mother?.pigeon?.color }}</p>
                <p><strong>Płeć:</strong> {{ tree.mother?.father?.mother?.pigeon?.gender }}</p>
              </div>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" class="grid-item">
          <mat-card>
            <mat-card-title>{{ tree.mother?.mother?.father?.pigeon?.ring }}</mat-card-title>
            <mat-card-content>
              <div *ngIf="tree?.mother?.mother?.father">
                <p><strong>Kolor:</strong> {{ tree.mother?.mother?.father?.pigeon?.color }}</p>
                <p><strong>Płeć:</strong> {{ tree.mother?.mother?.father?.pigeon?.gender }}</p>
              </div>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" class="grid-item">
          <mat-card>
            <mat-card-title>{{ tree.mother?.mother?.mother?.pigeon?.ring }}</mat-card-title>
            <mat-card-content>
              <div *ngIf="tree?.mother?.mother?.mother">
                <p><strong>Kolor:</strong> {{ tree.mother?.mother?.mother?.pigeon?.color }}</p>
                <p><strong>Płeć:</strong> {{ tree.mother?.mother?.mother?.pigeon?.gender }}</p>
              </div>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card>
  </section>
</div>

