<div class="pigeon-background"></div>
<mat-card class="form-card login-card">
  <button mat-icon-button (click)="backToLogin()" style="margin-bottom: -35px" aria-label="Back to Login">
    <mat-icon>arrow_back</mat-icon>
  </button>

  <mat-card-title>Reset Hasła</mat-card-title>
  <form *ngIf="!isTokenRequestSent" #form="ngForm" (ngSubmit)="requestResetPassword()">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput type="email" id="email" [(ngModel)]="email" name="email" required>
    </mat-form-field>
    <div class="form-button-container">
      <button mat-flat-button color="primary" type="submit">Resetuj hasło</button>
    </div>
  </form>
  <form *ngIf="isTokenRequestSent" #form="ngForm" (ngSubmit)="resetPassword()">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Kod</mat-label>
      <input matInput type="text" id="token" [(ngModel)]="resetPasswordDTO.token" name="token" required>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Nowe hasło</mat-label>
      <input matInput type="password" id="newPassword" [(ngModel)]="resetPasswordDTO.newPassword" name="newPassword" required>
    </mat-form-field>
    <div class="form-button-container">
      <button mat-flat-button color="primary" type="submit">Zmień hasło</button>
    </div>
  </form>
</mat-card>
