<div xmlns="http://www.w3.org/1999/html">
  <div class="nav-bar">
    <button class="nav-button"
            (click)="navigate('pigeon')">Gołębie
    </button>

    <button class="nav-button"
            (click)="navigate('pedigree')">Rodowody
    </button>


    <button class="nav-button"
            (click)="navigate('flights')">Loty
    </button>

    <button class="nav-button"
            (click)="navigate('flight-records')">Wyniki lotów
    </button>

    <button class="nav-button"
            (click)="navigate('pigeon-results')">Wyniki gołębi
    </button>
    <div class="user-info">
      <span>Zalogowany hodowca:</span>
      <br>
      <span> {{ user.name }} {{ user.surname }}</span>
    </div>

    <button class="nav-button"
            (click)="logout()">Wyloguj się
    </button>


  </div>
</div>
