<div xmlns="http://www.w3.org/1999/html">
  <div class="nav-bar">
    <button class="nav-button"
            [ngClass]="{'active-button': lastClickedButton === 'pigeon'}"
            (click)="navigate('pigeon')">Gołębie</button>

    <button class="nav-button"
            [ngClass]="{'active-button': lastClickedButton === 'pigeon-results'}"
            (click)="navigate('pigeon-results')">Wyniki gołębi</button>

    <button class="nav-button"
            [ngClass]="{'active-button': lastClickedButton === 'flights'}"
            (click)="navigate('flights')">Loty</button>

    <button class="nav-button"
            [ngClass]="{'active-button': lastClickedButton === 'flight-records'}"
            (click)="navigate('flight-records')">Wyniki lotów</button>

    <div class="user-info">
      <span>Zalogowany hodowca:</span>
      <br>
      <span> {{ user.name }} {{ user.surname }}</span>
    </div>

    <button class="nav-button"
            [ngClass]="{'active-button': lastClickedButton === 'logout'}"
            (click)="logout()">Wyloguj się</button>


  </div>
</div>
