<mat-card class="form-card">
  <mat-card-title>{{ mode == 'add' ? 'Dodaj nowego gołębia' : 'Edytuj gołębia'}}</mat-card-title>
  <mat-card-content>
    <form #form="ngForm" (ngSubmit)="submitForm()">
      <mat-form-field appearance="fill" class="form-fullwidth">
        <mat-label>Numer obrączki</mat-label>
        <input matInput type="text" id="ring" [(ngModel)]="pigeon.ring" name="ring" required>
      </mat-form-field>
      <mat-form-field appearance="fill" class="form-fullwidth">
        <mat-label>Płeć</mat-label>
        <input matInput type="text" id="gender" [(ngModel)]="pigeon.gender" name="gender" required>
      </mat-form-field>
      <mat-form-field appearance="fill" class="form-fullwidth">
        <mat-label>Kolor oczu</mat-label>
        <input matInput type="text" id="eyeColor" [(ngModel)]="pigeon.eyeColor" name="eyeColor" required>
      </mat-form-field>
      <mat-form-field appearance="fill" class="form-fullwidth">
        <mat-label>Kolor upierzenia</mat-label>
        <input matInput type="text" id="plumageColor" [(ngModel)]="pigeon.plumageColor" name="plumageColor" required>
      </mat-form-field>
      <div class="form-button-container">
        <button mat-flat-button [disabled]="!form.valid" type="submit">{{ mode == 'add' ? 'Dodaj' : 'Edytuj'}}</button>
        <button mat-flat-button type="button" (click)="close()">Anuluj</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>

