<mat-card class="form-card dialog-card pigeon-card">
  <mat-card-title>{{ mode == 'add' ? 'Dodaj nowego gołębia' : 'Edytuj gołębia'}}</mat-card-title>
  <mat-card-content>
    <form #form="ngForm" (ngSubmit)="submitForm()">
      <mat-form-field appearance="fill" class="form-fullwidth">
        <mat-label>Numer obrączki</mat-label>
        <input matInput type="text" id="ring" [(ngModel)]="pigeon.ring" name="ring" required>
      </mat-form-field>
      <mat-form-field appearance="fill" class="form-fullwidth">
        <mat-label>Ojciec</mat-label>
        <mat-select id="fatherRing" [(ngModel)]="pigeon.fatherRing" name ="fatherRing">
          <mat-option *ngFor="let father of potentialFathers" [value]="father.ring">
            {{ father.ring }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" class="form-fullwidth">
        <mat-label>Matka</mat-label>
        <mat-select id="motherRing" [(ngModel)]="pigeon.motherRing" name ="motherRing">
          <mat-option *ngFor="let mother of potentialMothers" [value]="mother.ring">
            {{ mother.ring }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" class="form-fullwidth">
        <mat-label>Płeć</mat-label>
        <mat-select id="gender" [(ngModel)]="pigeon.gender" name="gender" required>
          <mat-option [value]="'Samiec'">Samiec</mat-option>
          <mat-option [value]="'Samica'">Samica</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" class="form-fullwidth">
        <mat-label>Barwa</mat-label>
        <mat-select id="color" [(ngModel)]="pigeon.color" name="color" required>
          <mat-option [value]="'Niebieska'">1-Niebieska</mat-option>
          <mat-option [value]="'Niebieska nakrapiana'">2-Niebieska nakrapiana</mat-option>
          <mat-option [value]="'Ciemna nakrapiana'">3-Ciemna nakrapiana</mat-option>
          <mat-option [value]="'Ciemna'">4-Ciemna</mat-option>
          <mat-option [value]="'Czarna'">5-Czarna</mat-option>
          <mat-option [value]="'Czerwona nakrapiana'">6-Czerwona nakrapiana</mat-option>
          <mat-option [value]="'Czerwona'">7-Czerwona</mat-option>
          <mat-option [value]="'Płowa'">8-Płowa</mat-option>
          <mat-option [value]="'Biała'">9-Biała</mat-option>
          <mat-option [value]="'Szpakowata'">10-Szpakowata</mat-option>
          <mat-option [value]="'Niebieska pstra'">11-Niebieska pstra</mat-option>
          <mat-option [value]="'Niebieska nakrapiana pstra'">12-Niebieska nakrapiana pstra</mat-option>
          <mat-option [value]="'Ciemna nakrapiana pstra'">13-Ciemna nakrapiana pstra</mat-option>
          <mat-option [value]="'Ciemna pstra'">14-Ciemna pstra</mat-option>
          <mat-option [value]="'Czarna pstra'">15-Czarna pstra</mat-option>
          <mat-option [value]="'Czerwona nakrapiana pstra'">16-Czerwona nakrapiana pstra</mat-option>
          <mat-option [value]="'Czerwona pstra'">17-Czerwona pstra</mat-option>
          <mat-option [value]="'Płowa pstra'">18-Płowa pstra</mat-option>
          <mat-option [value]="'Szpakowata pstra'">19-Szpakowata pstra</mat-option>
          <mat-option [value]="'Czerwona szpakowata'">20-Czerwona szpakowata</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field  appearance="fill" class="form-fullwidth">
        <mat-label>Opis</mat-label>
        <textarea matInput id="description" [(ngModel)]="pigeon.description" name="description" rows="5"></textarea>
      </mat-form-field>
      <div class="form-button-container">
        <button mat-flat-button [disabled]="!form.valid" type="submit">{{ mode == 'add' ? 'Dodaj' : 'Zapisz'}}</button>
        <button mat-flat-button type="button" (click)="close()">Anuluj</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>

